.course-card {
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.meeting-time {
  border-top: 1px solid #ccc;
}

.course-card.selected {
  border: 1px solid #288bb7;
  background-color: #288bb733;
}

.course-card.selected .meeting-time {
  border-top: 1px solid #288bb7 !important;
}

.course-card:hover {
  background-color: #288cb72a;
}

.course-card.selected:hover {
  border: 1px solid #51b4de !important;
}

.course-card.conflict {
  background-color: #52525209;
  color: #ccc;
  cursor: not-allowed;
}
