.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 640px;
  width: 100%;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.field label {
  font-weight: 600;
}

.field input,
.field select {
  padding: 8px;
  background-color: #e7e4e4;
  border: none;
  border-radius: 4px;
  font-family: "Poppins";
}

.field .meeting-days {
  display: flex;
  gap: 20px;
}

.field .meeting-days label {
  display: flex;
  align-items: center;
}

.field .meeting-days input {
  margin-right: 8px;
}

.actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.actions button {
  padding: 8px 16px;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.actions .cancel {
  background-color: #e31e4c;
}

.actions .submit {
  background-color: #288bb7;
  font-weight: 600;
}

.error-message {
  color: red;
  font-weight: 600;
  margin: 0;
}

.error {
  display: flex;
  gap: 4px;
  align-items: center;
}

.error span {
  color: red;
  font-size: 16px;
}
