.course-plan {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
}

.course-plan h2 {
  margin: 0;
  padding-bottom: 16px;
  border-bottom: 2px solid #ccc;
}

.course-item {
  padding-bottom: 16px;
  border-bottom: 1px solid #e7e4e4;
}
